<a href="https://colab.research.google.com/github/pamella-gonzales/FTW3-Day3/blob/master/Pam_IntroCustomerSegmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Customer Segmentation

When it comes to finding out who your best customers are, the old RFM matrix principle is the best. 

RFM stands for *Recency*, *Frequency* and *Monetary.*   

It is a customer segmentation technique that uses past purchase behavior to divide customers into groups.  


### RFM Score Calculations  

**RECENCY (R)**: Days since last purchase  
**FREQUENCY (F)**: Total number of purchases  
**MONETARY VALUE (M)**: Total money this customer spent  

It is based on the marketing axiom that **80% of your business comes from 20% of your customers**.

RFM helps to identify customers who are more likely to respond to promotions by segmenting them into various categories.

### Import Packages

In [0]:
# !pip install xlrd
# import package
import pandas as pd
import datetime

# suppress error warnings
import warnings
warnings.filterwarnings('ignore')

from google.colab import files

### Read Data

In [0]:
# load dataset
# data = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
data = pd.read_excel('Online Retail.xlsx')

# Define Sales Column
data['Sales'] = data['Quantity'] * data['UnitPrice']
data.head()

  InvoiceNo StockCode  ...         Country  Sales
0    536365    85123A  ...  United Kingdom  15.30
1    536365     71053  ...  United Kingdom  20.34
2    536365    84406B  ...  United Kingdom  22.00
3    536365    84029G  ...  United Kingdom  20.34
4    536365    84029E  ...  United Kingdom  20.34

[5 rows x 9 columns]

### Create RFM Segments

These are the the only 4 things we need to build our RFM segments:
1. *customers* : feature that specifies your users,
2. *dates* : dates of transactions
3. *transactions* : transaction number
4. *prices* : price of amount sold

In [0]:
data.shape

(541909, 9)

In [0]:
customers = 'CustomerID'
dates = 'InvoiceDate'
transactions = 'InvoiceNo'
prices = 'Sales'

In [0]:
data['Description'] = data['Description'].str.strip()
data.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
data['InvoiceNo'] = data['InvoiceNo'].astype('str')
data = data[~data['InvoiceNo'].str.contains('C')]

In [0]:
data.Country.drop_duplicates()

0               United Kingdom
26                      France
197                  Australia
385                Netherlands
1109                   Germany
1236                    Norway
1404                      EIRE
5320               Switzerland
6421                     Spain
6608                    Poland
7134                  Portugal
7214                     Italy
7279                   Belgium
7986                 Lithuania
9783                     Japan
14938                  Iceland
20000          Channel Islands
20017                  Denmark
29732                   Cyprus
30079                   Sweden
34083                  Finland
34293                  Austria
38313                  Bahrain
50791                   Israel
69007                   Greece
69623                Hong Kong
70758                Singapore
72985                  Lebanon
89570     United Arab Emirates
100810            Saudi Arabia
103598          Czech Republic
119191                  Canada
152712             Unspecified
157299                  Brazil
164464                     USA
168149      European Community
217684                   Malta
395472                     RSA
Name: Country, dtype: object

In [0]:
country = "EIRE"

# Filter for a single country
data_country = data[data.Country == country]

In [0]:
data = data_country

NOW = datetime.datetime.now()

# RFM Feature Engineering
rfmTable = data.groupby(customers).agg({dates: lambda x: (NOW - x.max()).days, transactions: lambda x: len(x), prices: lambda x: x.sum()})
rfmTable[dates] = rfmTable[dates].astype(int)
rfmTable.rename(columns={dates: 'recency', 
                         transactions: 'frequency', 
                         prices: 'monetary_value'}, inplace=True)

In [0]:
rfmTable.head()

            recency  frequency  monetary_value
CustomerID
14016.0        3087        161         4341.21
14156.0        2935       1400       117379.63
14911.0        2927       5677       143825.06

In [0]:
rfmTable.shape

(3, 3)

### Segment Users Based on Quantiles 

The easiest way to split metrics into segments is by using quartiles.  

1. This gives us a starting point for the detailed analysis.
2. 4 segments are easy to understand and explain.

In [0]:
quantiles = rfmTable.describe()
quantiles

           recency    frequency  monetary_value
count     3.000000     3.000000        3.000000
mean   2983.000000  2412.666667    88515.300000
std      90.155421  2894.077458    74086.424279
min    2927.000000   161.000000     4341.210000
25%    2931.000000   780.500000    60860.420000
50%    2935.000000  1400.000000   117379.630000
75%    3011.000000  3538.500000   130602.345000
max    3087.000000  5677.000000   143825.060000

In [0]:
## RFM scorer
segmented_rfm = rfmTable.copy()

def RScore(x, p, d):
    if x <= d[p]['25%']:
        return 1
    elif x <= d[p]['50%']:
        return 2
    elif x <= d[p]['75%']: 
        return 3
    else:
        return 4
    
def FMScore(x,p,d):
    if x <= d[p]['25%']:
        return 4
    elif x <= d[p]['50%']:
        return 3
    elif x <= d[p]['75%']: 
        return 2
    else:
        return 1

### Score Users

In [0]:
### Score each user
segmented_rfm['r_quartile'] = segmented_rfm['recency'].apply(RScore, args=('recency', quantiles,))
segmented_rfm['f_quartile'] = segmented_rfm['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmented_rfm['m_quartile'] = segmented_rfm['monetary_value'].apply(FMScore, args=('monetary_value',quantiles,))

### Merge Scores
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str) + segmented_rfm.f_quartile.map(str) + segmented_rfm.m_quartile.map(str)
segmented_rfm['RFMScore'] = segmented_rfm['RFMScore'].map(int)

segmented_rfm.head()

            recency  frequency  ...  m_quartile  RFMScore
CustomerID                      ...
14016.0        3087        161  ...           4       444
14156.0        2935       1400  ...           3       233
14911.0        2927       5677  ...           1       111

[3 rows x 7 columns]

In [0]:
data.to_csv('some_data.csv')

In [0]:

segmented_rfm.to_csv('some_file_name.csv')

files.download('some_file_name.csv')

## Identify Customer Segments

### Who are the top 10 of our best customers?  
RFM Score of *111*.

In [0]:
segmented_rfm['RFMScore'].sort_values().unique()

array([111, 233, 444])

In [0]:
segmented_rfm[segmented_rfm['RFMScore']==111]

            recency  frequency  ...  m_quartile  RFMScore
CustomerID                      ...
14911.0        2927       5677  ...           1       111

[1 rows x 7 columns]

### Who are our Loyal Customers?  
Frequency score of *1*.

In [0]:
segmented_rfm[segmented_rfm['f_quartile']==1].sort_values('frequency', ascending=False).tail(10)

            recency  frequency  ...  m_quartile  RFMScore
CustomerID                      ...
14911.0        2927       5677  ...           1       111

[1 rows x 7 columns]

### Who are our Big Spenders?  
Monetary value score of *1*.

In [0]:
segmented_rfm[segmented_rfm['m_quartile']==1].sort_values('monetary_value', ascending=False).tail(10)

            recency  frequency  ...  m_quartile  RFMScore
CustomerID                      ...
14911.0        2927       5677  ...           1       111

[1 rows x 7 columns]

### Who are almost lost?  
Haven't purchased for some time but spent a lot and transacted a lot.  
RFM Score of *311*.

In [0]:
segmented_rfm[segmented_rfm['RFMScore']==311].sort_values('monetary_value', ascending=False).head(10)

Empty DataFrame
Columns: [recency, frequency, monetary_value, r_quartile, f_quartile, m_quartile, RFMScore]
Index: []

### Who are lost?  
Haven't purchased in the longest time but spent a lot and transacted a lot.  
RFM score of *411*.

In [0]:
segmented_rfm[segmented_rfm['RFMScore']==411].sort_values('monetary_value', ascending=False).head(10)

Empty DataFrame
Columns: [recency, frequency, monetary_value, r_quartile, f_quartile, m_quartile, RFMScore]
Index: []

### Who are the bottom 10 worst customers?  
RFM score of *444*.

In [0]:
segmented_rfm[segmented_rfm['RFMScore']==444].sort_values('monetary_value', ascending=False).tail(10)

            recency  frequency  ...  m_quartile  RFMScore
CustomerID                      ...
14016.0        3087        161  ...           4       444

[1 rows x 7 columns]

# Exercise: Do Customer Segmentation on a Different Dataset  
[link](https://query.data.world/s/oavhrdt2a4dhhg4agcbff6h3llnqsw) to dataset.